<nav>
    <ul>
      <li><a href="/homeAdmin">Home</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/manageRoom">Manage Room</a></li>
      <li><a href="/manageReceptionist">Manage Receptionist</a></li>
      <li><a href="/report">Report</a></li>
      <li>About</li>
    </ul>
  </nav>
