<nav>
    <ul>
      <li><a href="/homeReceptionist">Home</a></li>
      <li><a href="">About</a></li>t</li>
      <li><a href="/manageCheckInView">Manage Check-In</a></li>
      <li><a href="/manageCheckOutView">Manage Check-Out</a></li>
      <li><a href="/logout">logout</a></li>
    </ul>
  </nav>